@import '../../index.scss';

@each $p in ($md-percentage, $lg-percentage) {
  @media (min-width: $p * 1024px) {
    .topNav {
      height: $p * 72px;
    }

    h1 {
      font-size: $p * 20px;
      line-height: $p * 24px;
      margin: $p * 24px $p * 12px $p * 24px $p * 24px;
    }

    img {
      width: $p * 16px;
      height: $p * 16px;
    }

    select {
      width: $p * 200px;
      height: $p * 24px;
      margin-top: $p * 24px;
    }
  }
}

.topNav {
  width: 100%;
  background-color: $white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  display: inline-block;
  vertical-align: middle;
}

h1 {
  color: $cool-grey;
  text-align: left;
  font-weight: 500;
  display: inline-block;
}

select {
  border-radius: 4px;
  background-color: $white;
  border: solid 1px #c3cbd3;
  margin-left: 12px;
  vertical-align: top;
}
