.content {
  background-color: #eef0f3;
  float: right;
  display: inline; }

.navbar {
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

.content .navbar h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #a0a1a5;
  margin: 0;
  text-align: left; }
