@import "../index.scss";


@media (min-width: .75 * 1024px) {
  .content-holder  {
    width: calc(100% - (.75 * 352px));
  }
}

@media (min-width: 1 * 1024px) {
  .content-holder  {
    width: calc(100% - (1 * 352px));
  }
}

.content-holder {
  background-color: $content-background;
  display: inline-block;
  min-height:100vh;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.content .navbar h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: $cool-grey;
  margin: 0;
  text-align: left;
}


