@import "../index.scss";

/* MAIN SIDEBAR STYLES */

.sidebar {
  height: 100vh;
  background-color: $dark-grey;
  z-index: 5;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  position: inline-block;
  float: left;
}

/* FONTS */

.sidebar {
  text-align: left;
}

/* Activities */
.sidebar h1 { 
  font-size: 2.4rem;
  color: $cool-grey;
  font-weight: 400;
}

/* User name */
.sidebar h2 { 
  font-size: 2.0rem;
  color: $white;
  font-weight: 400;
}

/* Individual activity (my funnel) */
.sidebar h3 { 
  font-size: 1.8rem;
  color: $cool-grey;
  font-weight: 400;
}

/* Funnel */
.sidebar h4 { 
  font-size: 1.8rem;
  color: $cool-grey;
  font-weight: 300;
}

/* Add new activity button */
.sidebar h5 {
  font-size: 1.4rem;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
}

/* Count */
.sidebar h6 {
  font-size: 1.2rem;
  color: $cool-grey;
  line-height: 2 * 1.2rem;
  font-weight: 500;
}

/* Hide button */
.sidebar p {
  font-size: 1.2rem;
  color: $cool-grey;
  font-weight: 400;
  text-transform: uppercase;
}

/* SIDEBAR WIDTH BREAKPOINTS FOR MOBILE SCREENS & SMALLER DESKTOP */

@media (max-width: 768px) {
  
  .add-activity, 
  .activity, 
  .menu-item,
  .button-holder,
  .activity-heading,
  .footer .logo-holder {
    display:none;
    // ADD COLLAPSED STYLING
  }
  .sidebar,
  .profile-header,
  .footer {
    width: 72px;  // .2 * 352px i.e $sm-percentage 
  }
  .profile-picture{
    width: 48px;
    height: 48px;
    margin: 12px;
  }
  .footer .hide-holder p{
    font-size: 0.8rem;
  }

  .footer .hide-holder img{
    margin-left: 16px;
    margin-right: 16px;
    float:none;
  }
}

@each $p in ($md-percentage, $lg-percentage) {
  @media (min-width: $p * 1024px) {
    .sidebar, .profile-header, .logo-footer, .add-activity, .activity, .menu-item  {
      width: $p * 352px;
    }
    .profile-picture { 
      width: $p * 48px;
      height: $p * 48px;
      margin: $p * 12px $p * 10px $p * 12px $p * 24px;
    }
    .profile-header {
      height: $p * 72px;
      line-height: $p * 72px;
    }
    .activity-heading {
      padding: $p * 18px $p * 24px;
    }
    .activity-heading h1 {
      margin: 0;
    }
    .activity .title {
      height: $p * 48px;
      line-height: $p * 48px;
      min-width: $p * 352px
    }
    .activity .title .active-toggle {
      width: $p * 8px;
      height: $p * 48px;
      line-height: $p * 48px;
    }
    .activity .title .activity-name {
      width: $p * 250px;
      margin: 0px $p * 16px;
    }
    .activity .title h3 {
      height: $p * 48px;
      line-height: $p * 48px;
      margin: 0;
    }
    .activity .title .arrow {
      padding: 0px $p *24px $p * 16px $p * 24px;
      height: $p * 48px;
      width: $p * 48px;
    } 
    .activity .title img {
      height: $p * 16px;
      width: $p * 16px;
    }
    .menu-item {
      height: $p * 48px;
      line-height: $p * 48px;
    }
    .menu-item h4 {
      padding: 0 $p * 26px;
      margin: 0;
    }
    .menu-item h6 {
      padding: $p * 12px $p * 24px;
      margin: 0;
      height: $p * 48px;
      line-height: $p * 48px;
    }
    button {
      margin: $p * 24px;
      padding: 0 $p * 94px;
    }
    .footer {
      line-height: $p * 72px;
      width: $p * 352px;
    }
    .logo-holder {
      margin: 0 $p * 24px;
    }
    .hide-holder {
      margin: $p * 18px $p * 24px;
    }
    .hide-holder img {
      margin-bottom: $p * 8px;
      margin-left: $p * 4px;
      height: $p * 16px;
      width: $p * 16px;
    }
    .logo-holder img {
      height: $p * 36px;
      width: $p * 36px;
    }
  }
}

/* PROFILE HEADER */

.profile-header {
  background-color: $slate-grey;
  display: inline-block;
}

.profile-picture {
  border-radius: 50px;
  background-color: $white;
  display: inline-block;
  float: left;
}

@media (max-width: 768px) {
  .profile-header h2 {
    display: none;
  }
}

.profile-header h2 {
  vertical-align: middle;
  float: left;
  margin: 0;
}

/* ACTIVITY LIST STYLING */ 

.activity-list {
  background-color: $dark;
}

.activity {
  padding: 1px 0;
}

.activity .title {
  display: inline-block;
  background-color: $dark-grey;
}

.activity .title:hover {
  background-color: $slate-grey;
}

.activity .title .active-toggle {
  background-color: $greenish-teal;
  display: inline-block;
  vertical-align:top;
}

.activity .title .activity-name {
  display: inline-block;
}

.activity .title:hover h3 {
  color: $white;
}

.activity .title h3 {
  vertical-align: middle;
}

.activity .title .arrow {
  display: inline-block;
  vertical-align:top;
} 

.activity .title .arrow img {
  transform: rotate(90deg);
  vertical-align: middle;
} 

.menu-item {
  display: inline-block;
  background-color: $dark;
}

.menu-item:hover {
  background-color: $slate-grey;
}

.menu-item:hover h2, .menu-item:hover .count-aside {
  color: $white;
}

.menu-item h4 {
  display: inline-block;
}

.menu-item:hover h4 { 
  color: $white;
  font-weight: 500;
}

.menu-item h6 {
  float: right;
  vertical-align: middle;
}

.menu-item:hover h6 {
  color: $white;
}

/* BUTTON */

.button-holder {
  text-align: center;
}

button {
  background-color: $slate-grey;
  border: none;
  outline: none;
  border-radius: 2px;
  text-align: center;
}

.sidebar button p {
  color: $white;
  width: 100%;
}

/* FOOTER */

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: $dark;
}

.logo-holder {
  display: inline-block;
  float: left;
}

.hide-holder {
  display: inline-block;
  float: right;
  padding: 0;
  vertical-align: middle;
}

.hide-holder p {
  margin: 0;
  line-height: 1.4rem;
  display: block;
}

.footer img {
  vertical-align: middle;
  line-height: 0;
}

.hide-holder img {
  display: block;
}
