@import "../../index.scss";

.activityContentHolder {
  background-color: $content-background;
}

.row {
  margin: 0;
}

.dragTarget {
  height: 200px;
}

.isDragging {
  font-size: 15;
  font-weight: bold;
  cursor: move;
}
