@import '../../index.scss';

.inner-content {
  background-color: $inner-content-background;
}

.number-of-companies {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: $slate-grey;
  display: block;
  margin: 24px;
}
